/* 
   Andor Salga
*/
body {
  background-color: #fff;
  font-family: verdana, 'sans-serif';
  margin: 20px;
  font-size: 1em; }

header {
  margin: 10px 5px; }

h1 {
  font-size: 2.5em;
  text-align: center;
  transition: 0.5s ease all; }

.orderSummary {
  border: 1px solid #000;
  margin: 30px 0;
  padding: 20px; }
  .orderSummary h3,
  .orderSummary h4,
  .orderSummary div {
    display: inline-block; }
  .orderSummary div {
    position: absolute;
    right: 30px; }

.orderTotal {
  font-weight: bold; }

.productContainer .row {
  margin-bottom: 30px; }

.prod {
  text-align: center; }
  .prod .productName {
    font-weight: bold;
    color: #336699; }
  .prod .button {
    background-color: #78b4c8;
    display: block;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px 50px;
    transition: ease .5s all; }
    .prod .button:hover {
      background-color: #649696;
      transition: ease .5s all; }

.productImg {
  vertical-align: top;
  width: 100px;
  transition: 0.5s ease all; }

.basket {
  background-color: #eee;
  min-height: 300px; }
  .basket h2 {
    font-family: serif; }

.prodBasket {
  margin-bottom: 30px; }
  .prodBasket .productIdTitle {
    color: #888;
    font-weight: bold;
    font-family: sans-serif; }
  .prodBasket .productName {
    font-size: 1.25em; }
  .prodBasket .productItem,
  .prodBasket img,
  .prodBasket .details {
    display: inline-block; }
  .prodBasket .rightSide {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    position: absolute;
    right: 0;
    padding-left: 40px;
    font-weight: bold; }
  .prodBasket .button {
    border: 0px;
    cursor: pointer;
    color: red;
    outline: none;
    background-color: transparent;
    font-weight: bold; }

@media (min-width: 768px) {
  h1 {
    font-size: 3em;
    text-decoration: underline; }
  .productImg {
    vertical-align: top;
    width: 150px; } }

@media (min-width: 992px) {
  h1 {
    font-size: 3.5em; }
  h3 {
    font-size: 1.5em; } }

/*# sourceMappingURL=style.css.map */