body {
  background-color: #fafafa;
  font-family: sans-serif;
  font-size: 1em;
  padding: 20px;
  margin: 0 20px; }

h1 {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  transition: 0.5s ease all; }

h2 {
  font-size: 1.0em;
  font-weight: bold; }

a {
  color: #1cb1db; }
  a:hover {
    color: #000; }

@media screen and (min-width: 640px) {
  h1 {
    font-size: 2rem; } }

.empty-slot {
  background-color: #fff;
  border: 1px dashed #e1e1e1;
  border-radius: 5px;
  font-size: 0.8em;
  color: #8c8c8c;
  padding: 16px;
  margin: 2px; }

#dropdownLabel {
  margin-right: 20px; }

#dropdown {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  font-size: 1rem;
  color: #8c8c8c;
  padding: 10px;
  min-width: 300px;
  outline: none; }

.nav {
  background-color: #f0f0f0;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 0; }
  .nav .vertRule {
    display: none; }
  .nav .creditContainer {
    position: relative;
    margin-top: 20px; }
  .nav fieldset legend {
    width: auto;
    padding: 0;
    float: left;
    margin: 0 20px 0 0;
    font-size: 100%; }
  .nav fieldset label {
    margin: 0 30px 0 0; }

input[type="checkbox"] + label {
  display: inline-block; }

@media screen and (min-width: 991px) {
  .nav .creditContainer {
    margin-top: 0; } }

@media screen and (min-width: 1200px) {
  .nav .vertRule {
    display: inline;
    background-color: red;
    border-right: 1px solid #8c8c8c;
    margin: 0 20px 0 20px;
    height: 100%; } }

button {
  background-color: #007cab;
  color: #fff;
  border: 3px double #1cb1db;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 0 auto;
  display: block;
  transition: 0.25s ease all; }
  button:hover {
    cursor: pointer;
    filter: brightness(80%);
    transition: 0.25s ease all; }

/*
    A 'card' that contains courses
*/
.sem-card, .sem-card-next, .sem-card-future {
  border-radius: 5px; }
  .sem-card-header, .sem-card-next .header, .sem-card-future .header {
    margin-top: 10px;
    padding: 10px 10px; }
    .sem-card-header h2, .sem-card-next .header h2, .sem-card-future .header h2 {
      color: #000;
      margin: 0; }
    .sem-card-header p, .sem-card-next .header p, .sem-card-future .header p {
      font-size: 0.8em;
      color: #8c8c8c;
      margin: 0px 0; }
  .sem-card .slots, .sem-card-next .slots, .sem-card-future .slots {
    background-color: white;
    padding: 10px 10px; }

.sem-card-next {
  border: 1px solid #8c8c8c;
  background-color: #f0f0f0; }
  .sem-card-next .header {
    background-color: #f0f0f0; }
  .sem-card-next .footer {
    background-color: #1cb1db;
    padding: 20px 0; }

.sem-card-future {
  background-color: #fafafa; }

.course, .prereq {
  background-color: #fff;
  border: 1px solid #8c8c8c;
  border-left: 10px solid #7dc842;
  border-radius: 5px;
  color: #8c8c8c;
  font-size: 0.8em;
  padding: 8px 5px;
  margin: 0 0 5px;
  position: relative; }
  .course .course-name, .prereq .course-name {
    color: #000;
    display: block; }
  .course .course-code, .prereq .course-code {
    text-transform: uppercase; }
  .course .alert, .prereq .alert {
    position: absolute;
    top: 0;
    left: calc(100% - 5px);
    transform: translateX(-100%);
    text-align: center;
    font-weight: bold;
    border: 1px solid #a0243c;
    background-color: #ff3d6b;
    color: white;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    border-radius: 50%;
    padding: 0; }
    .course .alert:hover, .prereq .alert:hover {
      cursor: pointer; }

.prereqContainer {
  position: relative; }

.prereq {
  border-left: 10px solid #ff3d6b;
  box-shadow: 0px 0px 5px #8c8c8c;
  position: absolute;
  bottom: 0; }
  .prereq .notch {
    background-color: #fff;
    border-right: 1px solid #8c8c8c;
    border-bottom: 1px solid #8c8c8c;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    right: 10px;
    box-shadow-right: 41px 41px 15px #8c8c8c;
    bottom: -6px;
    transform: rotate(45deg); }

.add-course {
  background-color: #fff;
  color: #8c8c8c;
  font-size: 0.8em;
  display: block;
  position: relative;
  margin: 0 0 5px;
  padding: 5px 10px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  border-left-color: #1cb1db;
  border-left-width: 40px; }
  .add-course:hover {
    cursor: pointer; }
  .add-course .course-name {
    color: #000;
    display: block; }
  .add-course .course-credits {
    color: #8c8c8c; }

.add-course > div:after,
.add-course > div:before {
  content: '';
  position: absolute;
  background: #fff;
  top: 50%;
  left: calc(-28px);
  width: 14px;
  height: 2px; }

.add-course > div:after {
  transform: rotate(90deg); }

div .parent {
  margin-top: 10px; }

div .progress {
  border: 1px solid #8c8c8c;
  max-width: 200px;
  background-color: #fff; }
  div .progress .progress-bar {
    background-color: #7dc842;
    color: black;
    font-weight: bold; }

.parent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%; }

.left {
  flex-grow: 1; }

.right {
  display: none; }

.progressCopy {
  display: inline; }

@media screen and (min-width: 992px) {
  .progressCopy {
    display: none; }
  .parent {
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .right {
    display: inline;
    margin: 0 0 0 10px; } }

.creditsContainer {
  display: inline-block; }

.creditsLeft {
  display: inline-block;
  position: relative;
  background-color: #d5325a;
  border-radius: 50%;
  color: #fff;
  width: 25px;
  height: 25px;
  text-align: center; }

.creditsLeftCopy {
  display: inline; }

@media screen and (min-width: 992px) {
  .creditsContainer {
    margin-left: 20px;
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%); } }
