h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'MINI-Serif Regular', serif; }

h1 {
  font-size: 3em; }

h4 {
  font-size: 1.5em;
  text-align: center; }

.take-your-pick {
  text-align: center;
  padding: 30px 50px; }
  .take-your-pick h1 {
    font-weight: bold; }

#ytplayer {
  width: 100%;
  display: none; }

iframe {
  margin: 0 auto; }

a.link-button {
  color: #fff;
  font-family: 'MINI-Sans', sans;
  text-transform: uppercase;
  padding: 0.18em;
  margin: .5em 0;
  display: block;
  text-align: center;
  position: relative;
  background-color: #000;
  z-index: 0;
  transition: .25s all;
  border: 1px solid #000; }
  a.link-button:hover {
    text-decoration: none;
    color: #000; }
    a.link-button:hover:before {
      -webkit-transform: scaleY(1);
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      transform: scaleY(1); }
  a.link-button:before {
    content: '';
    position: absolute;
    background: #fff;
    border: 1px solid #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: transform 0.125s ease-in;
    -moz-transition: transform 0.125s ease-in;
    -ms-transition: transform 0.125s ease-in;
    -o-transition: transform 0.125s ease-in;
    transition: transform 0.125s ease-in;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: 0 0;
    z-index: -1; }

@media only screen and (min-width: 768px) {
  a.link-button {
    display: block;
    width: 250px; } }

@font-face {
  font-family: 'MINI-Sans';
  src: url("../fonts/MINI-sans/mini_sans-medium-webfont.eot") format("eot"), url("../fonts/MINI-sans/mini_sans-medium-webfont.woff") format("woff"), url("../fonts/MINI-sans/mini_sans-medium-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'MINI-Serif Regular';
  src: url("../fonts/MINI-Serif/mini_serif-regular-webfont.eot") format("eot"), url("../fonts/MINI-Serif/mini_serif-regular-webfont.woff") format("woff"), url("../fonts/MINI-Serif/mini_serif-regular-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'MINI-Serif Bold';
  src: url("../fonts/MINI-Serif/mini_serif-bold-webfont.eot") format("eot"), url("../fonts/MINI-Serif/mini_serif-bold-webfont.woff") format("woff"), url("../fonts/MINI-Serif/mini_serif-bold-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'MINI-Serif Italic';
  src: url("../fonts/MINI-Serif/mini_serif-italic-webfont.eot") format("eot"), url("../fonts/MINI-Serif/mini_serif-italic-webfont.woff") format("woff"), url("../fonts/MINI-Serif/mini_serif-italic-webfont.woff2") format("woff2"); }

.car {
  transition: 0.25s all; }
  .car h3 {
    font-family: 'MINI-Serif Regular', serif;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0; }
  .car .copy-container {
    padding: 1em; }
  .car p.car-blurb {
    font-family: 'Reader Bold', sans-serif;
    font-size: 1em;
    padding: 1em 0; }
  .car img {
    width: 100%; }

.row.no-gutter .img-container {
  padding: 0; }

@media only screen and (min-width: 992px) {
  .car .copy-container {
    padding-left: 50px; }
  .car .vcenter {
    position: absolute;
    transform: translateY(-50%);
    top: 50%; } }

.hero {
  transition: 0.25s all;
  text-shadow: 0 0 3px #000; }
  .hero .row {
    padding: 0 10px; }
  .hero img {
    width: 100%; }
  .hero h1 {
    font-size: 1.6em;
    font-weight: 500; }
  .hero h4 {
    font-size: 1.3em;
    margin: 0; }
  .hero .hero-parent {
    position: relative;
    border: 1px solid blue; }
    .hero .hero-parent .hero-child {
      width: 100%;
      position: absolute;
      top: 10%;
      left: 50%;
      text-align: center;
      color: white;
      transform: translate(-50%, 0%); }
    .hero .hero-parent .fa-angle-right {
      font-size: 50px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #fff;
      color: #000;
      border: 4px solid #000 !important; }
      .hero .hero-parent .fa-angle-right:hover {
        transition: 0.25s ease;
        color: #fff;
        background: #000;
        cursor: pointer; }

@media only screen and (min-width: 768px) {
  .hero .hero-parent .hero-child {
    top: 50%;
    transform: translate(-50%, -50%); }
  .hero .hero-parent h1 {
    font-size: 2.6em; }
  .hero .hero-parent h4 {
    font-size: 1.3em; } }

@media only screen and (min-width: 992px) {
  .hero {
    padding: 0 100px; } }

* {
  border: 0px solid blue !important; }

#tt__debug {
  font-weight: bold;
  z-index: 100;
  position: fixed;
  left: 10px;
  font-size: 2em;
  font-family: monospace;
  background-color: rgba(204, 102, 102, 0.9); }
  #tt__debug::after {
    content: "Bootstrap 3: (>=320px) (custom)"; }

@media only screen and (min-width: 640px) {
  #tt__debug {
    background-color: rgba(102, 102, 204, 0.9); }
    #tt__debug::after {
      content: "Bootstrap 3: (>=640px) xs"; } }

@media only screen and (min-width: 768px) {
  #tt__debug {
    background-color: rgba(100, 200, 180, 0.9); }
    #tt__debug::after {
      content: "Bootstrap 3: (>=768px) sm"; } }

@media only screen and (min-width: 991px) {
  #tt__debug {
    background-color: rgba(33, 66, 99, 0.9); }
    #tt__debug::after {
      content: "Bootstrap 3: (>=991px) md"; } }

@media only screen and (min-width: 1200px) {
  #tt__debug {
    background-color: rgba(240, 20, 80, 0.9); }
    #tt__debug::after {
      content: "Bootstrap 3: (>=1200px) lg"; } }
