html,
body {
  margin: 0; }

/*
	Global variables
*/
@media only screen and (min-width: 320px) {
  .overlay {
    position: absolute;
    visibility: visible;
    opacity: 0.9;
    background-color: #303030;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%; }
    .overlay .fa-cog {
      color: #ACACAC;
      display: block;
      margin: 0 auto;
      top: 50%;
      position: absolute;
      width: 100%; } }
@media only screen and (min-width: 320px) {
  body {
    overflow-y: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&0+0,1+81 */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, #6ba6d9 81%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, #6ba6d9 81%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, #6ba6d9 81%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */ }
    body h1.header {
      font-weight: bold;
      opacity: 0;
      text-decoration: underline;
      color: #303030; }

  .gallery {
    max-width: 1200px;
    margin: 0 auto; }
    .gallery div {
      padding: 15px;
      transition: 0.5s; }
      .gallery div h3 {
        text-transform: capitalize;
        position: absolute;
        top: 20px;
        font-size: 2em;
        padding: 5px 10px;
        color: #ACACAC;
        background-color: rgba(0, 0, 0, 0.7);
        max-width: 400px;
        opacity: 0; }
      .gallery div p {
        visibility: hidden;
        font-size: 10px;
        opacity: 0;
        transition: 0.5s;
        font-style: italic;
        position: absolute;
        z-index: -2;
        margin-bottom: -10px;
        bottom: 50px; }
      .gallery div img {
        display: block;
        width: 100%; }
      .gallery div img:hover {
        cursor: pointer;
        padding: 0; } }
@media only screen and (min-width: 768px) {
  .gallery div h3 {
    font-size: 1.5em;
    max-width: 200px; } }
@media (min-width: 992px) {
  html .gallery div h3 {
    font-size: 1.2em; } }
@media only screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
    font-family: "Verdana", "Geneva", "sans-serif";
    background-color: #AFCBF3; }

  div.title {
    margin-top: 30px; }

  .nav {
    background-color: #336699;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    transition: 0.5s;
    top: 0;
    left: 100%;
    width: 100%;
    z-index: 1; }
    .nav i.fa {
      margin: 0 8px 0 8px; }
    .nav ul {
      color: #FFF;
      transition: max-height 0.15s ease-out;
      list-style: none;
      max-height: 0;
      overflow: hidden; }
      .nav ul li {
        transition: max-height 0.15s ease-out; }
        .nav ul li:hover {
          text-decoration: underline; }
    .nav h1 {
      color: #303030;
      font-size: 1em;
      opacity: 0;
      font-weight: bold;
      margin: 0;
      padding: 5px 0 5px 5px;
      transition: 0.5s; }
    .nav:hover {
      border: 1px solid #000;
      cursor: pointer;
      transition: 0.5s; }
      .nav:hover h1 {
        font-size: 2em; }
      .nav:hover ul {
        max-height: 600px;
        transition: max-height 0.25s ease-in; } }

/*# sourceMappingURL=style.css.map */
