@media only screen and (min-width: 320px) {

  body {
    overflow-y: hidden;
    

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&0+0,1+81 */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(107, 166, 217, 1) 81%, rgba(125, 185, 232, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(107, 166, 217, 1) 81%, rgba(125, 185, 232, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(107, 166, 217, 1) 81%, rgba(125, 185, 232, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */
    h1.header {
      font-weight: bold;
      opacity: 0;
      text-decoration: underline;
      color: $black; // text-shadow: 2px 2px $black;
    }
  }

  .gallery {
    max-width: 1200px;
    margin: 0 auto;

    div {
      padding: 15px;
      transition: $transition-time;

      h3 {
        text-transform: capitalize;
        position: absolute;
        top: 20px;
        font-size: 2em;
        padding: 5px 10px;
        color: $white;
        background-color: rgba(0, 0, 0, 0.7);
        max-width: 400px;
        opacity: 0;
      }
      p {
        visibility: hidden;
        font-size: $font-small;
        opacity: 0;
        transition: $transition-time;
        font-style: italic;
        position: absolute;
        z-index: -2;
        margin-bottom: -10px;
        bottom: 50px;
      }

      img {
        display: block;
        width: 100%;
      }
      img:hover {
        cursor: pointer;
        padding: 0;
      }
    }
  }
}



// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
  .gallery div h3 {
    font-size: 1.5em;
    max-width: 200px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
    .gallery div h3 {
      font-size: 1.2em;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}