@media only screen and (min-width: 320px) {

  body {
    overflow-x: hidden;
    font-family: $font-regular;
    background-color: $light-blue;
  }

  div.title {
    margin-top: 30px;
  }

  .nav {
    background-color: #336699;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    transition: $transition-time;
    top: 0;
    left: 100%;
    width: 100%;
    z-index: 1;

    i.fa {
      margin: 0 8px 0 8px;
    }

    ul {
      color: #FFF;
      transition: max-height 0.15s ease-out;
      list-style: none;
      max-height: 0;
      overflow: hidden;

      li {
        transition: max-height 0.15s ease-out;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    h1 {
      color: $black;
      font-size: 1em;
      opacity: 0;
      font-weight: bold;
      margin: 0;
      padding: 5px 0 5px 5px;
      transition: $transition-time;
    }
    &:hover {
      border: 1px solid #000;
      cursor: pointer;
      transition: $transition-time;

      h1 {
        font-size: 2em;
      }
      ul {
        max-height: 600px;
        transition: max-height 0.25s ease-in;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}