@media only screen and (min-width: 320px) {
  .overlay {
    position: absolute;
    visibility: visible;
    opacity: 0.9;
    background-color: $black;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    
    .fa-cog {
      color: $white;
      display: block;
      margin: 0 auto;
      top: 50%;
      position: absolute;
      width: 100%;
    }
  }
}