/*
	Global variables
*/

// Colors from http://www.colorcombos.com/color-schemes/296/ColorCombo296.html
$white: #ACACAC;
$black: #303030;
$orange: #E49E7A;
$light-blue: #AFCBF3;
$dark-blue: #6195C5;
$yellow: #EECD86;
$salmon: #E39183;

// FONTS
$font-regular: "Verdana", "Geneva", "sans-serif";
$font-small: 10px;

// ANIMATION
$transition-time: 0.5s;